<navbar></navbar>
<div class="container">
  <div name="title"><h1>Cart <span class="glyphicon glyphicon-shopping-cart"></span></h1></div>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <img src="http://www.ikea.com/us/en/images/products/hemnes-bed-frame__0174594_PE328217_S4.JPG" width="100"/></td>
            <td>BRIMNES</td>
            <td>1</td>
            <td>5490</td>
            <td><button type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span></button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <img src="http://www.ikea.com/us/en/images/products/hemnes-bed-frame__0174594_PE328217_S4.JPG" width="100"/></td>
                <td>BRIMNES</td>
                <td>1</td>
                <td>5490</td>
                <td><button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <img src="http://www.ikea.com/us/en/images/products/hemnes-bed-frame__0174594_PE328217_S4.JPG" width="100"/></td>
                    <td>BRIMNES</td>
                    <td>1</td>
                    <td>5490</td>
                    <td><button type="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="total">
                <div class="col-md-6">
                  <b>Total Price: </b>
                </div>
                <div class="col-md-4 text-right">
                  <b>999999</b>
                </div>
                <div class="col-md-2">
                  <b>TH baht</b>
                </div>
              </div>
              <div class="checkout">
                <button class="checkout-btn" type="button" name="button">Checkout</button>
              </div>
            </div>
            <footer></footer>
