<navbar></navbar>

<div class="container">
	<div class="">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">All</li>
		</ol>
	</div>

<div class="collections text-center">
	<hr/><h2>Collections</h2><hr/>
</div>

	<div class="row">
		<div class="category-filter">
			<h3>Filter By</h3>
			<div class="price">
				<h4>Price</h4>
				<input type="checkbox"> Under THB 1,000 <br/>
				<input type="checkbox"> THB 1,000 to THB 5,000 <br/>
				<input type="checkbox"> THB 5,000 to THB 10,000 <br />
				<input type="checkbox"> THB 10,000 & Above <br/>
			</div>
		</div>

		<div class="list col-md-9">
			<div class="row">
				<div class="sort">
					<h4>Sort by</h4>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Price Low to High <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Price Low to High</a></li>
							<li><a href="#">Price High to Low</a></li>
							<li><a href="#">Name A - Z</a></li>
							<li><a href="#">Name Z - A</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="thumbnail">
					<img src="http://placehold.it/350x250">
					<div class="caption">
						<h3>Product Name</h3>
						<p>Product description</p>
						<p><a href="#" class="btn btn-primary" role="button">View product</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
