<div class="footer">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="footer-links left">
        <li class="left"><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
        <li class="left"><a target="_blank" href="https://twitter.com/">Twitter</a></li>
        <li class="left"><a target="_blank" href="http://instagram.com/">Instagram</a></li>
        <li class="left"><a target="_blank" href="http://pinterest.com/">Pinterest</a></li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="footer-links right">
        <li class="right">Copyright © 2015 SIXTHFLOOR. All rights reserved.</li>
     </ul>
 </div>
</div>
