<div class="footer">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="footer-links left">
        <li class="left"><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
        <li class="left"><a target="_blank" href="https://twitter.com/">Twitter</a></li>
        <li class="left"><a target="_blank" href="http://instagram.com/">Instagram</a></li>
        <li class="left"><a target="_blank" href="http://pinterest.com/">Pinterest</a></li>
    </ul>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <ul class="footer-links right">
        <li class="right" style="font-size: 11px; color: #969696; text-transform: uppercase; letter-spacing: 5px;">Copyright © 2015. All rights reserved.<a ui-sref="home"><span class="logo" style="font-size: 18px;padding-left: 10px;font-weight: 400; padding: 0 0; line-height: 18px;"></span></a></li>
      </ul>
  </div>
</div>
