
<div class="footer">
  <div class="container">
    <div class="clearfix">
      <div class="footer-logo">
        <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> SixthFloor</a>
      </div>
      <dl class="footer-nav">
        <dt class="nav-title">CATEGORY</dt>
        <dd class="nav-item"><a href="#/category/Bedroom">Bedroom</a></dd>
        <dd class="nav-item"><a href="#/category/Bathroom">Bathroom</a></dd>
        <dd class="nav-item"><a href="#/category/Dinning Room">Dinning Room</a></dd>
        <dd class="nav-item"><a href="#/category/Kitchen">Kitchen</a></dd>
        <dd class="nav-item"><a href="#/category/Living Room">Living Room</a></dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">ABOUT</dt>
        <dd class="nav-item"><a href="#">The Company</a></dd>
        <dd class="nav-item"><a href="#">History</a></dd>
        <dd class="nav-item"><a href="#">Vision</a></dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">LANGUAGE</dt>
        <dd class="nav-item"><a href="#">ภาษาไทย</a></dd>
        <dd class="nav-item"><a href="#">English</a></dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">CONTACT</dt>
        <dd class="nav-item"><a href="#">Basic Info</a></dd>
        <dd class="nav-item"><a href="#">Map</a></dd>
        <dd class="nav-item"><a href="#">Contact Form</a></dd>
      </dl>
    </div>
    <div class="footer-copyright text-center">Copyright © 2015 6thFloor. All rights reserved.</div>
  </div>
</div>
