<navbar></navbar>
<div class="container">
  <div name="title"><h1>{{homepageCtrl.welcome}}</h1></div>

  <ul class="nav nav-pills">
  	<li role="presentation" class="active"><a href="#">Home</a></li>
  	<li role="presentation"><a href="#/category/all">Collections</a></li>
  	<li role="presentation"><a href="#">Bed</a></li>
    <li role="presentation"><a href="#">Table</a></li>
  </ul>
</div>
<footer></footer>