<div name="title"><h1>{{homepageCtrl.welcome}}</h1></div>

<div class="container" ng-controller="LoginController as loginCtrl">
  <form role="form">
    <h2> Login </h2>
  	  <div class="row">
  	    <div class="form-group col-md-4">
  		    <label for="email">Email address:</label>
  		    <input type="email" class="form-control" ng-model="loginCtrl.email">
  	  	</div>
  	  </div>

  	  <div class="row">
  	  	 <div class="form-group col-md-4">
  		    <label for="pwd">Password:</label>
  		    <input type="password" class="form-control" ng-model="loginCtrl.pwd">
  	  	</div>
  	  </div>

  	  <button type="submit" class="btn btn-default" ng-click="loginCtrl.login()">Submit</button>
  </form>
 <hr>
  Your email is {{loginCtrl.email}}
  with password {{loginCtrl.pwd}}

</div>
