<div class="login-page">
	<div class="contents">
		<form class="login-form" name="loginForm" ng-submit="loginCtrl.login()">
			<h1>Login to 6thFloor</h1>
			<div class="user-login panel panel-default">
  				<div class="panel-body">
  					<div class="form-group">
      				<input class="form-control" type="email" ng-model="loginCtrl.data.email" placeholder="Enter your email" required>
						</div>
						<div class="form-group">
							<input class="form-control" type="password" ng-model="loginCtrl.data.pwd" placeholder="Enter your password" pattern=".{8,36}" required title="8 to 36 characters">
						</div>
  				</div>
			</div>
			<div class="form-footer">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<a href="#">Forget your password?</a>
						</div>
						<div class="row">
							<a ui-sref="register">Sign up</a>
						</div>
					</div>
					<div class="col-md-3">
						<button class="btn btn-lg btn-default" type="submit" ng-disabled="!loginForm.$valid">Sign in</button>
					</div>					
				</div>
			</div>
		</form>
	</div>
</div>