<div class="nav-bar">
  <div class="nav-left">
    <a href="#/home"><div class="logo"></div></a>
    <input class="navtf" type="text" placeHolder="Search" />
    <button class="search" type="submit">Search</button>
  </div>
  <div class="nav-right" ng-controller="LoginController as loginCtrl">
    <a href="#/register"><button class="navbutton" >Register</button></a>
    <button class="navbutton" ng-click="loginCtrl.toggleLogin()">Log in</button>

    <div class="login" ng-show="loginCtrl.show">
      <form role="form">
        <input class="navtf" type="text" placeHolder="E-mail" ng-model="loginCtrl.email" />
        <input class="navtf" type="password" placeHolder="Password" ng-model="loginCtrl.pwd" /><br/>
        <input type="checkbox" id="remember" /><label for="remember"><span></span>Keep me logged in</label> |
        <a href="">Forgot your password?</a>
        <button class="loggingin" type="submit" ng-click="loginCtrl.login()">Log in</button>
      </form>
      {{loginCtrl.message}}
    </div>

  </div>
  <div class="clear"></div>
</div>
