<div class="navbar navbar-default navbar-custom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">SЇxthFloor</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <form ng-submit="navbarCtrl.search(query)" class="navbar-form navbar-left" role="search">
         <div class="form-search search-only">
            <i class="search-icon-custom glyphicon glyphicon-search"></i>
            <input type="text" ng-model="query"
            class="form-control search-field " maxlength="50" placeholder="Type to Search...">
          </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="navbarCtrl.isAuthed">
          <a ui-sref="cart">
            <i class="glyphicon glyphicon-shopping-cart"></i> Cart
            <span class="badge badge-notify" ng-show="navbarCtrl.Cart.getItemList().length != 0">
              {{navbarCtrl.Cart.getQuantity()}}
            </span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="category-button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Category <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <ul class="dropdown-menu category">
            <div class="subcategory">
              <li>
                <a ui-sref="category({category_name: 'all'})">
                  <i class="fa fa-shopping-bag"></i>All products
                </a>
              </li>
              <li>
                <a ui-sref="category({category_name: 'Bedroom'})">
                  <i class="fa fa-bed"></i>Bedroom
                </a>
              </li>
              <li>
                <a ui-sref="category({category_name: 'Bathroom'})">
                  <i class="icon-toilets"></i>Bathroom
                </a>
              </li>
              <li>
                <a ui-sref="category({category_name: 'Dinning Room'})">
                  <i class="fa fa-cutlery"></i>Dinning Room
                </a>
              </li>
              <li>
                <a ui-sref="category({category_name: 'Kitchen'})">
                  <i class="icon-chef-food-restaurant-streamline"></i>Kitchen
                </a>
              </li>
              <li>
                <a ui-sref="category({category_name: 'Living Room'})">
                  <i class="icon-armchair-chair-streamline"></i>Living room
                </a>
              </li>
            </div>
          </ul>
        </li>
        <li class="dropdown" ng-if="!navbarCtrl.isAuthed">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Account <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <ul class="dropdown-menu account">
            <li>
              <a ui-sref="register"><i class="fa fa-user-plus"></i> Create Account </a>
            </li>
            <li>
              <a ui-sref="login"><i class="fa fa-sign-in"></i> Log in </a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-if="navbarCtrl.isAuthed">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Profile <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <ul class="dropdown-menu account">
            <div class="profile">
              <h4><i class="fa fa-user"></i> {{navbarCtrl.User.firstname}} {{navbarCtrl.User.lastname}}<span ng-if="navbarCtrl.User.isAdmin()"> <b>({{navbarCtrl.User.role}})</b></span></h4>
            </div>
            <div class="menu">
              <li>
                <a href="#"><i class="fa fa-list-ul"></i> Purchased History </a>
              </li>
              <li>
                <a href="#"><i class="fa fa-cog"></i> Setting </a>
              </li>
              <li>
                <a ui-sref="logout"><i class="fa fa-sign-out"></i> Log out </a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
