<navbar></navbar>
<div class="container">
  <div ng-if="!productpageCtrl.is404">
    <div class="product-view row">
      <span>
        <a href="#/home">Home</a> |
        <a href="">Bedroom</a> |
        <a href="">{{productpageCtrl.category}}</a>
      </span>
      <br />
      <br />
      <br />
      <div class="product">
        <div class="product-left col-sm-push-2 col-sm-5">
          <img src="http://placehold.it/350x300">
        </div>
        <div class="product-right col-sm-push-3 col-sm-5">
          <div class="product-cus">
            <h1>{{productpageCtrl.productName}}</h1>
            <h6>Product ID: {{productpageCtrl.productID}}</h6>
            <form class="form-inline">
              <label>Property 1</label>
              <select class="form-control" ng-model="productpageCtrl.property1.repeatSelect">
                <option ng-repeat="option in productpageCtrl.property1.availableOptions" value="{{option.id}}">{{option.name}}</option>
              </select>
            </form>
            <h2>THB {{productpageCtrl.price}}</h2>
            <label>Available {{productpageCtrl.available}}</label>
            <form class="form-inline">
              <div class="form-group">
                <label for="exampleInputName2">Quantity</label>
                <input type="number" class="form-control" value="1" />
              </div>
            </form>
            <br />
            <button class="btn btn-primary" name="">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="footer row">
      <div class="col-sm-5">
        <label><h3><span class="label label-default"><b>Size</b></span></h3></label>
        <div class="form-group">
          <label>Width: 104 cm</label><br />
          <label>Height: 83.82 cm</label>
        </div>
      </div>
      <div class="col-sm-push-2 col-sm-5">
        <label><h3><span class="label label-default"><b>Product Description</b></span></h3></label>
        <div class="form-group">
          <label>{{productpageCtrl.description}}</label>
        </div>
      </div>
    </form>
  </div>
</div>
<div ng-if="productpageCtrl.is404">
  <h1>Product Not Found</h1>
  <p>{{productpageCtrl.errorMessage}}</p>
</div>
</div>
