<div class="full-screen">
  <div ng-if="!editproductCtrl.is404">
    <div class="container">
      <legend><h2>Edit Furniture({{editproductCtrl.product.serialNumber}})</h2></legend>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <span class="require-star">*</span>
          <label class="col-sm-2 control-label" for="productName">Furniture Name:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter name of new furniture" ng-model="editproductCtrl.product.productName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="description">Description:</label>
          <div class="col-sm-5">
            <textarea class="form-control" placeholder="Enter description of furniture" ng-model="editproductCtrl.product.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="dimensionDescription" >Dimension:</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter dimention detail (ex. 1m x 1.82m)" ng-model="editproductCtrl.product.dimensionDescription">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="categoryID">Category:</label>
          <div class="col-sm-2">
            <select class="form-control" ng-model="editproductCtrl.product.category" ng-options="category as category.name for category in editproductCtrl.categoryList" ng-change="editproductCtrl.getSubcat()">
              <option value="" disabled selected>Category</option>
            </select>
          </div>
          <div class="col-sm-1 require-star">*</div>
          <span class="require-star">*</span>
          <div class="col-sm-2">
            <select class="form-control" ng-model="editproductCtrl.product.subcategory" ng-options="subcategory as subcategory.name for subcategory in editproductCtrl.subcategoryList" ng-change="editproductCtrl.changeSubcat()">
              <option value="" disabled selected>Sub-Category</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <span class="require-star">*</span>
          <label class="col-sm-2 control-label" for="price">Price (THB):</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" name="price" id="price" ng-model="editproductCtrl.product.price">
          </div>
        </div>
      </form>

      <div class="restock margin-5">
        <legend><h3>Add To Stock</h3></legend>
        <div class="row">
          <div class="col-md-2">
            Quantity:
          </div>
          <div class="col-md-3">
            <input type="number" class="form-control" min="1" ng-model="addQuantity">
          </div>
          <div class="col-md-2">
            <button type="button" ng-click="editproductCtrl.addToStock(addQuantity)" class="btn btn-primary half-width" name="button">Add</button>
          </div>
        </div>
      </div>

      <div class="addproduct-container">
        <div class="alert alert-danger " ng-show="!editproductCtrl.valid">
          <strong>Invalid Form</strong> Please check for the required information
        </div>
        <button type="button" class="addproduct-btn" ng-click="editproductCtrl.submit()">Edit Furniture</button>
      </div>
    </div>
  </div>
  <div ng-if="editproductCtrl.is404">
    <h1>Furniture Not Found</h1>
    <p>{{editproductCtrl.errorMessage}}</p>
  </div>
</div>