<div class="container">
  <h1>Registration Complete</h1>
  <p>
        Thank you for registering SixthFloor !
  </p>
  <div class="member-info">
    <div class="member-info-panel">
      <div class="panel-heading">Your personal registration information:</div>
      <div class="panel-body">
        <p>E-mail: {{registerCtrl.member.email}}</p>
        <p>First name: {{registerCtrl.member.firstname}} &nbsp;
          Last name: {{registerCtrl.member.lastname}}
        </p>
        <p>Address: {{registerCtrl.member.address}}</p>
        <p>Phone number: {{registerCtrl.member.phonenumber}}</p>
      </div>
    </div>
    <a href="#/home"><button class="btn btn-primary">
      <span class="glyphicon glyphicon-home"></span>
       Back to Home Page</button></a>
  </div>
</div>
