<div class="container">
  <h1>Registration Complete</h1>
  <p>
        Thank you for registering SixthFloor !
  </p>
  <div class="member-info">
    <div class="panel panel-default">
      <div class="panel-heading">Your personal registration information:</div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
