.login {
	padding: 18px 0 0 0;
	margin: -10px 0 0 0;
	width: 300px;
	height: 150px;
	background-color: #999;
	border-radius: 10px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	display: none;
	z-index: 2;
	font-size: 13px;
	line-height: 30px;
}
.login:before {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
}
.login button#loggingin {
	width: 270px;
	margin: 5px 0 0 5px;
	padding: 4px 8px;
	color: #fff;
	background-color: #111;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.login button#loggingin:hover {
	background-color: #444;
}