#navbar {
	padding: 0 3%;
	color: #777;
	font-size: 28px;
	background-color: #000;
}
#navbar #left {
	min-width: 550px;
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
}
#navbar #left #logo {
	display: block;
	float: left;
	width: 175px;
	height: 42px;
	margin: 12px 10px 0 0;
	background: transparent url(../img/logo.png) left top no-repeat;
}
#navbar #right {
	display: block;
	float: right;
	text-align: right;
	height: 60px;
	line-height: 60px;
}