.navbar {
	padding: 0 3%;
	color: #777;
	font-size: 28px;
	background-color: #000;
}
.navbar .left {
	min-width: 550px;
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
}
.navbar .left .logo {
	display: block;
	float: left;
	width: 175px;
	height: 42px;
	margin: 12px 10px 0 0;
	background: transparent url(../img/logo.png) left top no-repeat;
}
input.textfield {
	width: 270px;
	padding: 4px 8px;
	border-radius: 10px;
	border: none;
}
.navbar .left button#search {
	width: 80px;
	margin: 5px 0 0 5px;
	padding: 4px 8px;
	color: #fff;
	background-color: #555;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.navbar .left button#search:hover {
	background-color: #777;
}
.navbar .right {
	display: block;
	float: right;
	text-align: right;
	height: 60px;
	line-height: 60px;
}
.navbar .right button.navbutton {
	width: 80px;
	margin: 5px 0 0 5px;
	padding: 4px 8px;
	color: #fff;
	background-color: #111;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.navbar .right button.navbutton:hover {
	background-color: #444;
}