.add-new-product {
	height: 427px;
	.txt {
		top: 50%;
		position: absolute;
	}
}
.thumbnail {
	.caption {
		h3 {
			white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
		}
	}
}