$max-width: 470px;

.login-page {
	overflow: hidden;
    padding: 10px;
	.contents {
		background: #fff;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.45);
    	box-shadow: 0 1px 3px rgba(0,0,0,0.45);
    	margin: 100px auto 0;
    	position: relative;
    	min-width: 390px;
    	max-width: $max-width;
	}
	.login-form {
		max-width: $max-width;
   	padding-top: 20px;
    margin-bottom: 0;
		h1{
    		color: #525252;
    		font-size: 23px;
    		margin: 30px 40px 15px;
    		display: block;
    		font-weight: bold;
    		white-space: nowrap;
    		overflow: hidden;
    		-ms-text-overflow: ellipsis;
    		text-overflow: ellipsis;
    	}
    .user-login {
    		margin-bottom: 0px;
    		border-radius: 0px;
    		border-bottom: 2px solid #ddd;
    		border-top: 0px solid transparent;
    		border-left: 0px solid transparent;
    		border-right: 0px solid transparent;
    }
    .form-footer {
    	&:after{
    		content: "";
    		display: table;
    		clear: both;
    	}
    	a {			   	
    		color: #717171;
  			font-weight: bold;
    		text-decoration: none;
    		cursor: auto;
    		display: inline-block;
    		margin-bottom: 11px;
			}
    	font-size: 14px;
    	padding: 20px 40px;
    	background: #f0f0f0;
    	clear: both;
    	.btn {
    		font-weight: bold;
    	}
    	.btn[disabled], .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active{
    		-webkit-box-shadow: none !important;
    		box-shadow: none !important;
    		text-shadow: 0 0 0 !important;
    		background: #ebebeb !important;
    		border: 1px solid #ddd !important;
    		color: #aaa !important;
    		cursor: default;
    	}
    }
  }
  .alert {
      text-align: right;
      margin: 5px auto 0;
      position: relative;
      min-width: 390px;
      max-width: $max-width;
      padding-right: 0px;
      .btn{
        margin-right: 0;
        min-width: 200px;
      }
  }
}