.navbar-custom {
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    z-index: 2000;
    .navbar-form {
    	margin-left:10px;
    	width:55%;
    }
    .navbar-brand {
    	font-weight: 900;
    }
}
.search-field {
	width: 100% !important;
    padding: 5px 45px;
    margin: 0;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: #34495e;
    text-indent: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none !important;
}
.search-field:focus {
	// border-color: #FFF;
}
.search-field::-webkit-input-placeholder {
   color: #34495e;
}

.search-field:-moz-placeholder { /* Firefox 18- */
   color: #34495e;
}

.search-field::-moz-placeholder {  /* Firefox 19+ */
   color: #34495e;
}

.search-field:-ms-input-placeholder {
   color: #34495e;
}
.search-icon-custom {
	position: absolute;
    top: 2px;
    right: 8.5px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    z-index: 20;
	color: #34495e;
}
