/* Product View Page*/
.product{
	@extend .row;
	.product-left{
		@extend .col-md-7;
		@extend .text-center;
	}
	.product-right{
		@extend .text-center;
		padding: 15px 25px;
		background-color: #FAFAFA;
	}
}
.product-info{
	margin: 35px 55px;
	padding: 10px 25px;
	background-color: #FAFAFA;
}
