@mixin component-style() {
  border-radius: 10px;
  border: none;
}

* {
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html, body, p, figure {
  padding: 0;
  margin: 0;
}
body {
  min-width: 1024px;
  color: #000;
  //background-color: #e9e9e9;
}
body, input, button, label {
  font-family: 'THSarabunNew', sans-serif;
  line-height: normal;
  font-weight: normal;
}
a {
  font-weight: normal;
  text-decoration: none;
}

.clear {
  clear: both;
}
