@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "custom/bootflat";


@import "components/register";
@import "components/login";
@import "components/home";
// @import "components/header";

@import "font";
@import "standard";
@import "navbar";
@import "productview";
@import "footer";


//Layouts
.box-container{
  //margin: 5px 5%;
  padding: 2%;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}
.margin-5{
  margin: 5%;
}
.full-width{
  width: 100%;
}

//Register page
.require-star{
  color: red;
}
.register-2col-row{
  @extend .row;
  margin-left: -3px;
}
.register-btn{
  @extend .btn;
  @extend .btn-success;
  font-size: large;
  padding: 6px 40px;
  margin: 12px 0px 35px 0px;
}
.register-container{
  text-align: center;
}
.member-info{
  text-align: -webkit-center !important;
  text-align: center;
  margin: 25px 0px;
}
.member-info-panel{
  @extend .panel;
  @extend .panel-default;
  width: 75%;
}
.alert {
  min-width: 300px;
}

//Category page
.category-filter{
  @extend .col-sm-3;
}
.sort{
  margin-bottom: 15px;
}
.category-btn{
  margin: 5px;
  width: 100%;
}
// for temporary layout
.page-container {
  margin-top: 35px;
}
.page-content{
  margin-bottom: 79px;
}

//Add product
.addproduct-container{
  text-align: center;
}
.addproduct-btn{
  @extend .btn;
  @extend .btn-success;
  font-size: large;
  padding: 6px 40px;
  margin: 12px 0px 35px 0px;
}

//Cart Page
.checkout{
  @extend .text-center;
  .checkout-btn{
    @extend .btn;
    @extend .btn-primary;
    width: 25%;
    margin: 3% 0px;
  }
}
.quantity-input{
  width: 10%;
}
.total{
  @extend .well;
  @extend .row;
  margin: 0px;
}
