<!doctype html>
<html>
<head>
<meta content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=0' name='viewport' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Navigation Bar</title>

<link rel="stylesheet" type="text/css" media="all" href="css/standard.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/navbar.css" />

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/loginfieldTransition.js"></script>

</head>
<body>

<div id="navbar">
	<div id="left">
		<div id="logo"></div>
		<input class="textfield" id="searchtf" type="text" placeHolder="Search" />
		<button id="search" type="submit">Search</button>
	</div>
	<div id="right">
		<button class="navbutton" id="regbutton">Register</button>
		<button class="navbutton" id="loginbutton">Log in</button>
		<div id="login">
			<input class="textfield" id="usernametf" type="text" placeHolder="E-mail" />
			<input class="textfield" id="passwordtf" type="password" placeHolder="Password" /><br/>
			<input id="remember" type="checkbox" /><label for="remember"><span></span>Keep me logged in</label> |
			<a href="">Forgot your password?</a>
			<button id="loggingin">Log in</button>
		</div>
	</div>
	<div class="clear"></div>
</div>

<script>
</script>

</body>
</html>